.app {
  min-height: 100vh;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main-content {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.content {
  flex: 1;
  padding: 0; /* Remove padding to minimize white space */
  margin: 0; /* Remove margin to minimize white space */
  overflow-y: auto;
}